@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  background-color: #ffffff;
}

/* ------------------------NAV--------------------------------------- */
.head-container {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

ul {
  display: flex;
  align-items: center;
  gap: 0 3rem;
  font-size: 1.5rem;
  color: #5c5c5c;
  font-weight: 500;
  cursor: pointer;
}

ul li:first-child {
  color: #000000;
  font-weight: 600;
}

.resgiter-now {
  background-color: transparent;
  color: #26a8f4;
  border: 1px solid #26a8f4;
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-weight: 500;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

/* -------------------------------Section-1-------------------------- */

.section-1 {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 20rem;
}

.section-1_container {
  display: flex;
  justify-content: space-between;
}

.section-1_container h1 {
  font-size: 4.5rem;
  line-height: 1.3;
}

.section-1_container p {
  padding-top: 2rem;
  font-size: 1.5rem;
  color: #5c5c5c;
  font-weight: 500;
}

.section-1_container button {
  margin-top: 3rem;
  padding: 1.5rem 2.5rem;
  color: #ffffff;
  background: linear-gradient(to right bottom, #11c0f8, #0566ea);
  border: none;
  border-radius: 0.9rem;
  font-size: 1.7rem;
  font-weight: 600;
  cursor: pointer;
}

.section-1_right img {
  width: 50rem;
}

/* -------------------------------------------Section-2------------------------------ */
.section-2 {
  padding-bottom: 15rem;
}
.section-2_container {
  display: flex;
  justify-content: center;
}

.section-2_left img {
  width: 50rem;
  margin-right: 5rem;
}

.section-2_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem 0;
}

.section-2_right h2 {
  font-size: 4rem;
  color: #14263f;
}

.section-2_right p {
  font-size: 1.5rem;
  color: #5c5c5c;
  font-weight: 500;
}

.section-2_right button {
  padding: 1.2rem 3rem;
  color: #ffffff;
  background: linear-gradient(to right bottom, #11c0f8, #0566ea);
  border: none;
  border-radius: 0.9rem;
  font-size: 1.7rem;
  font-weight: 600;
  cursor: pointer;
}

/* ----------------------------------Section-3-------------------- */
.section-3 {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 6rem;
}
.section-3_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-3_container h2 {
  font-size: 4rem;
  line-height: 5rem;
  color: #14263f;
}

.section-3_left p {
  font-size: 1.5rem;
  color: #5c5c5c;
  font-weight: 500;
  padding-top: 2rem;
}

.section-3_left button {
  margin-top: 2rem;
  padding: 1.2rem 3rem;
  color: #ffffff;
  background: linear-gradient(to right bottom, #11c0f8, #0566ea);
  border: none;
  border-radius: 0.9rem;
  font-size: 1.7rem;
  font-weight: 600;
  cursor: pointer;
}

.section-3_right img {
  width: 55rem;
}

/* ----------------------------Section-4------------------------------ */

.section-4 {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 6rem;
}

.section-4_container {
  display: flex;
  justify-content: space-between;
}

.section-4_container h2 {
  font-size: 4rem;
  line-height: 5rem;
  color: #14263f;
}

.section-4_container p {
  font-size: 1.5rem;
  color: #5c5c5c;
  font-weight: 500;
  padding-top: 2rem;
}

/* ----------------------------------Section-5--------------------------------- */

/* ----------------container-1------------------- */

.section-5 {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 15rem;
}

.section-5_container-1 {
  display: flex;
  justify-content: space-between;
}

.small-img {
  width: 4rem;
}

.section-5_card-1,
.section-5_card-2,
.section-5_card-3 {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  justify-content: center;
  align-items: flex-start;
  gap: 1rem 0;
}

.section-5_card-1 h2,
.section-5_card-2 h2,
.section-5_card-3 h2 {
  font-size: 2rem;
}

.section-5_card-1 p,
.section-5_card-2 p,
.section-5_card-3 p {
  font-size: 1.3rem;
  color: #5c5c5c;
  font-weight: 500;
}

/* --------------------------Cointer-2-------------- */

.section-5_container-2 {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
}

.section-5_card-4,
.section-5_card-5,
.section-5_card-6 {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  justify-content: center;
  align-items: flex-start;
  gap: 1rem 0;
}

.section-5_card-4 h2,
.section-5_card-5 h2,
.section-5_card-6 h2 {
  font-size: 2rem;
}

.section-5_card-4 p,
.section-5_card-5 p,
.section-5_card-6 p {
  font-size: 1.3rem;
  color: #5c5c5c;
  font-weight: 500;
}

/* -------------------------------------Section-6--------------------------------- */

.section-6 {
  background: linear-gradient(to right bottom, #08b4f6, #0566ea);

  padding-bottom: 5rem;
}
h2.section-6_heading {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
  font-size: 4rem;
  color: #ffffff;
}
/* -------------------------------------------------------------------------- */
.section-6_container {
  display: flex;
  justify-content: center;
  /* width: 90%; */
  /* margin: 0 auto; */
  gap: 2.5rem;
}

.section-6_card-1,
.section-6_card-2,
.section-6_card-3 {
  background-color: #ffffff;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 4.5rem 0;
  border-radius: 1rem;
  /* justify-content: flex-start; */
  /* align-items: center; */
  font-weight: 500;
}

.section-6_card-1_top h2 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: #14263f;
}

.section-6_card-1_top p {
  font-size: 1.4rem;
  color: #5c5c5c;
  font-weight: 500;
}

.section-6_wrapper-1 {
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

.section-6_card-1_middle {
  display: flex;
  flex-direction: column;

  gap: 2.5rem 0;
}

.fa-circle-check {
  font-size: 1.7rem;
  color: #21dfac;
}

.section-6_card-1_middle p {
  font-size: 1.7rem;
}

.section-6_card-1_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.section-6_card-1_bottom h2 {
  font-size: 2.5rem;
  color: #14263f;
}

.section-6_card-1_bottom h2 span {
  color: #848996;
}

.section-6_card-1_bottom p {
  font-size: 1.4rem;
  padding-bottom: 3rem;
  padding-top: 1rem;
  color: #5c5c5c;
  font-weight: 500;
}

.section-6_card-1_bottom button {
  padding: 1rem 2rem;
  background-color: transparent;
  border: 1px solid #08a2f4;
  color: #08a2f4;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 0.8rem;
  cursor: pointer;
}

.card-2_bottom-button button {
  background: linear-gradient(to right bottom, #11c0f8, #0566ea);
  color: #ffffff;
}

/* -----------------------------Section-7---------------------------------- */
.section-7 {
  background-color: #eef2f5;
  padding-bottom: 10rem;
}
.section-7_part-1 {
  padding-top: 10rem;
  text-align: center;
}

.section-7_part-1 h2 {
  font-size: 4rem;
  color: #14263f;
}

.section-7_part-1 p {
  padding-top: 2rem;
  font-size: 1.5rem;
  color: #5c5c5c;
  font-weight: 500;
  padding-bottom: 5rem;
}

/* ---------------------------------------------------------- */

.section-7_part-2 {
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;

  gap: 0 2.5rem;
}

.section-7_card-1 {
  border: 1px solid #e2e2e2;
  background-color: #ffffff;
  padding: 2rem 3rem;
  border-radius: 0.5rem;
}

.section-7_card_1-content_top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid red; */
  gap: 3rem 0;
}

.section-7_card-1-content_bottom {
  display: flex;
  /* border: 1px solid blue; */
  align-items: center;
  gap: 0 1rem;
}

.content_bottom-flex {
  display: flex;
  flex-direction: column;
  /* border: 1px solid violet; */
  align-items: flex-start;
  gap: 0.5rem 0;
}

.section-7_card_1-content_top p {
  font-size: 1.5rem;
  color: #5c5c5c;
  font-weight: 500;
}

.section-7_card-1-content_bottom img {
  width: 6rem;
}

.content_bottom-flex h2 {
  color: #14263f;
}

.content_bottom-flex p {
  font-size: 1.3rem;
  font-weight: 500;
}

/* ----------------------------Section-8--------------------------- */

.section-8 {
  background-image: url(images/footer-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-8_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 40rem;
}

.section-8_left h2 {
  font-size: 4rem;
  color: #ffffff;
  line-height: 1.4;
}

.section-8_left p {
  font-size: 1.5rem;
  color: #ffffff;
  padding-top: 3rem;
}

.section-8_right button {
  padding: 1.5rem 2.5rem;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
}

/* ---------------------------Section-9------------------------------ */
.section-9 {
  padding-top: 10rem;
  padding-bottom: 6rem;
}
.section-9_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0 13rem;
}

.section-9_logo img {
  width: 8rem;
  padding-bottom: 2.5rem;
  cursor: pointer;
}

.section-9_logo p {
  font-size: 1.3rem;
  color: #5c5c5c;
  font-weight: 500;
}

.section-9_menu,
.section-9_links,
.section-9_overview {
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}

.section-9_menu h2,
.section-9_links h2,
.section-9_overview h2,
.section-9_social h2 {
  font-size: 2rem;
}
.section-9_menu li,
.section-9_links li,
.section-9_overview li {
  font-size: 1.3rem;
  cursor: pointer;
  color: #5c5c5c;
  font-weight: 500;
}

.fa-facebook,
.fa-instagram,
.fa-youtube,
.fa-linkedin {
  font-size: 2.5rem;
  color: #0566ea;
}

.social-logo {
  display: flex;
  justify-content: center;
  gap: 0 1rem;
  padding-top: 2rem;
}

.section-9_social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -----------------------------------END-------------------------------------- */
